/* .navbar {
    color: greenyellow;
    background-color: greenyellow;
} */

/* .sticky {
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    background-color: white;
} */
.nav-pic {
    width: 7%;
    padding: 5px;
    margin: 8px;
    border-radius: 40px;
}